<!-- ============================================================== -->
<!-- Main wrapper - style you can find in pages.scss -->
<!-- ============================================================== -->
<div id="main-wrapper">


    <app-header></app-header>
    <app-sidebar></app-sidebar>
    <div class="page-wrapper">
        <div class="container-fluid">
            <!-- breadcrumbs -->
            <app-breadcrumbs></app-breadcrumbs>
            <!-- SISTEMAS DE RUTAS  -->
            <router-outlet></router-outlet>
            <!-- <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-body">
                        </div>
                    </div>
                </div>
            </div> -->
        </div>
        <!-- ============================================================== -->
        <!-- footer -->
        <!-- ============================================================== -->
        <footer class="footer text-center">
            © {{year}} Fundación Rostro de Jesús.
        </footer>
        <!-- ============================================================== -->
        <!-- End footer -->
        <!-- ============================================================== -->
    </div>
</div>


<app-modal-imagen></app-modal-imagen>
<app-crear-categoria></app-crear-categoria>