<div class="row animate fadeIn fast">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <input type="text" class="form-control" placeholder="Buscar Usuario..." #txtTermino (keyup)="buscar(txtTermino.value)">

            </div>
        </div>
    </div>
</div>

<!-- <div class="text-right animate fadeIn fast">
    <button type="button" routerLink="/dashboard/registro-Usuario" class="btn btn-info align-content-end">
        <i class="fa fa-plus"></i> 
          Agregar nuevo Usuario
    </button>
</div> -->

<div class="row mt-2 animate fadeIn fast" *ngIf="cargando">
    <div class="col-12">
        <div class="alert alert-info text-center">
            <h4 class="alert-heading">Cargando...</h4>
            <i class="fa fa-spin fa-refresh fa-2x"></i>
            <p class="mb-0">Por favor espere</p>
        </div>
    </div>
</div>

<div class="row animate fadeIn fast" *ngIf="!cargando">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-8">
                        <h4 class="card-title">Pacientes ({{totalPacientes}})</h4>
                        <h6 class="card-subtitle">Pacientes registrados en la Aplicación</h6>
                    </div>
                    <div class="col">
                        <div class="text-right animate fadeIn fast">
                            <button type="button" routerLink="/dashboard/registro-paciente/nuevo" class="btn btn-info align-content-end">
                            <i class="fa fa-plus"></i> 
                            Agregar nuevo Paciente
                            </button>
                        </div>
                    </div>
                </div>
                <div class="table-responsive">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th>Cedúla:</th>
                                <th>Nombre2:</th>
                                <th>Apellido1:</th>
                                <th>Apellido2:</th>
                                <th>Dirección:</th>
                                <th>Celular:</th>
                                <th class="text-nowrap text-center">Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let paciente of pacientes">
                                <td>
                                    <span class="label label-info">
                                    {{paciente.cedulaP}}
                                    </span>
                                </td>
                                <td>{{paciente.nombreP2}}</td>
                                <td>{{paciente.apellidoP}}</td>
                                <td>{{paciente.apellidoP2}}</td>
                                <td>{{paciente.direccionesP[0]}}</td>
                                <td>
                                    <span class="label label-success">
                                    {{paciente.celularesP[0]}}
                                    </span>
                                </td>
                                <td class="text-nowrap text-center">
                                    <a href="#" data-toggle="tooltip" data-original-title="Editar Paciente"> <i class="fa fa-pencil-square text-inverse m-r-10"></i> </a>
                                    <a (click)="eliminarPaciente(paciente)" data-toggle="tooltip" data-original-title="Eliminar Paciente"> <i class="fa fa-window-close text-danger"></i> </a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div *ngIf="txtTermino.value.length === 0">
                    <button (click)="cambiarPagina(-10)" class="btn btn-secondary">Anterior</button> &nbsp;
                    <button (click)="cambiarPagina(10)" class="btn btn-secondary">Siguiente</button>
                </div>
            </div>
        </div>
    </div>
</div>