<div class="row">
    <div class="col-lg-4 col-xlg-3 col-md-5">
        <div class="card">
            <div class="card-body">
                <div class="m-t-30 text-center"> <img [src]="usuarioId.img | imagen:'usuarios'" class="img-circle" width="100">
                    <h4 class="card-title m-t-10"> {{usuarioId.nombre2}} {{usuarioId.apellido1}} {{usuarioId.apellido2}}</h4>
                    <h6 class="card-subtitle"><span class="label label-info">{{usuarioId.especialidad.name}}</span> </h6>
                </div>
            </div>
            <div>
                <hr> </div>
            <div class="card-body">
                <small class="text-muted"> Dirección Email </small>
                <h6><span class="label label-info">{{usuarioId.email}}</span></h6>
                <small class="text-muted p-t-10 db">Role</small>
                <h6><span class="label label-success">{{usuarioId.role}}</span></h6>
                <small class="text-muted p-t-10 db">Dirección Personal</small>
                <h6>{{usuarioId.direccion1}} / {{usuarioId.direccion2}}</h6>
                <small class="text-muted p-t-10 db">Número Telefónico</small>
                <h6>{{usuarioId.celular1}} / {{usuarioId.celular2}}</h6>
                <br>
            </div>
        </div>
    </div>


    <div class="col-lg-8 col-xlg-9 col-md-7">
        <div class="card">
            <!-- Nav tabs -->
            <ul class="nav nav-tabs profile-tab" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" data-toggle="tab" href="#home" role="tab" aria-expanded="true">
                        <font style="vertical-align: inherit;">
                            <font style="vertical-align: inherit;">Cronología</font>
                        </font>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#profile" role="tab" aria-expanded="false">
                        <font style="vertical-align: inherit;">
                            <font style="vertical-align: inherit;">Perfil</font>
                        </font>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#settings" role="tab" aria-expanded="false">
                        <font style="vertical-align: inherit;">
                            <font style="vertical-align: inherit;">Configuraciones</font>
                        </font>
                    </a>
                </li>
            </ul>
            <!-- Tab panes -->
            <div class="tab-content">
                <div class="tab-pane active" id="home" role="tabpanel" aria-expanded="true">
                    <div class="card-body">
                        <div class="profiletimeline">
                            <div class="sl-item">
                                <div class="sl-left"> <img src="../assets/images/users/1.jpg" alt="usuario" class="img-circle"> </div>
                                <div class="sl-right">
                                    <div>
                                        <a href="#" class="link">
                                            <font style="vertical-align: inherit;">
                                                <font style="vertical-align: inherit;">John Doe hace </font>
                                            </font>
                                        </a> <span class="sl-date"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">5 minutos</font></font></span>
                                        <p>
                                            <font style="vertical-align: inherit;">
                                                <font style="vertical-align: inherit;">Asignar una nueva tarea </font>
                                            </font>
                                            <a href="#">
                                                <font style="vertical-align: inherit;">
                                                    <font style="vertical-align: inherit;">Diseño weblayout</font>
                                                </font>
                                            </a>
                                        </p>
                                        <div class="row">
                                            <div class="col-lg-3 col-md-6 m-b-20"><img src="../assets/images/big/img1.jpg" class="img-responsive radius"></div>
                                            <div class="col-lg-3 col-md-6 m-b-20"><img src="../assets/images/big/img2.jpg" class="img-responsive radius"></div>
                                            <div class="col-lg-3 col-md-6 m-b-20"><img src="../assets/images/big/img3.jpg" class="img-responsive radius"></div>
                                            <div class="col-lg-3 col-md-6 m-b-20"><img src="../assets/images/big/img4.jpg" class="img-responsive radius"></div>
                                        </div>
                                        <div class="like-comm">
                                            <a href="javascript:void(0)" class="link m-r-10">
                                                <font style="vertical-align: inherit;">
                                                    <font style="vertical-align: inherit;">2 comentario</font>
                                                </font>
                                            </a> <a href="javascript:void(0)" class="link m-r-10"><i class="fa fa-heart text-danger"></i><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"> 5 amor</font></font></a> </div>
                                    </div>
                                </div>
                            </div>
                            <hr>
                            <div class="sl-item">
                                <div class="sl-left"> <img src="../assets/images/users/2.jpg" alt="usuario" class="img-circle"> </div>
                                <div class="sl-right">
                                    <div>
                                        <a href="#" class="link">
                                            <font style="vertical-align: inherit;">
                                                <font style="vertical-align: inherit;">John Doe hace </font>
                                            </font>
                                        </a> <span class="sl-date"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">5 minutos</font></font></span>
                                        <div class="m-t-20 row">
                                            <div class="col-md-3 col-xs-12"><img src="../assets/images/big/img1.jpg" alt="usuario" class="img-responsive radius"></div>
                                            <div class="col-md-9 col-xs-12">
                                                <p>
                                                    <font style="vertical-align: inherit;">
                                                        <font style="vertical-align: inherit;">Lorem ipsum dolor sit amet, consectetur adipiscing elit. </font>
                                                        <font style="vertical-align: inherit;">Entero nec odio. </font>
                                                        <font style="vertical-align: inherit;">Libero de Praesent. </font>
                                                        <font style="vertical-align: inherit;">Sed cursus ante dapibus diam.</font>
                                                    </font>
                                                </p>
                                                <a href="#" class="btn btn-success">
                                                    <font style="vertical-align: inherit;">
                                                        <font style="vertical-align: inherit;"> Diseño weblayout</font>
                                                    </font>
                                                </a>
                                            </div>
                                        </div>
                                        <div class="like-comm m-t-20">
                                            <a href="javascript:void(0)" class="link m-r-10">
                                                <font style="vertical-align: inherit;">
                                                    <font style="vertical-align: inherit;">2 comentario</font>
                                                </font>
                                            </a> <a href="javascript:void(0)" class="link m-r-10"><i class="fa fa-heart text-danger"></i><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"> 5 amor</font></font></a> </div>
                                    </div>
                                </div>
                            </div>
                            <hr>
                            <div class="sl-item">
                                <div class="sl-left"> <img src="../assets/images/users/3.jpg" alt="usuario" class="img-circle"> </div>
                                <div class="sl-right">
                                    <div>
                                        <a href="#" class="link">
                                            <font style="vertical-align: inherit;">
                                                <font style="vertical-align: inherit;">John Doe hace </font>
                                            </font>
                                        </a> <span class="sl-date"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">5 minutos</font></font></span>
                                        <p class="m-t-10">
                                            <font style="vertical-align: inherit;">
                                                <font style="vertical-align: inherit;">Lorem ipsum dolor sit amet, consectetur adipiscing elit. </font>
                                                <font style="vertical-align: inherit;">Entero nec odio. </font>
                                                <font style="vertical-align: inherit;">Libero de Praesent. </font>
                                                <font style="vertical-align: inherit;">Sed cursus ante dapibus diam. </font>
                                                <font style="vertical-align: inherit;">Sed nisi. </font>
                                                <font style="vertical-align: inherit;">Nulla quis sem en nibh elementum imperdiet. </font>
                                                <font style="vertical-align: inherit;">Duis sagittis ipsum. </font>
                                                <font style="vertical-align: inherit;">Praesent mauris. </font>
                                                <font style="vertical-align: inherit;">Fusce nec tellus sed augue semper</font>
                                            </font>
                                        </p>
                                    </div>
                                    <div class="like-comm m-t-20">
                                        <a href="javascript:void(0)" class="link m-r-10">
                                            <font style="vertical-align: inherit;">
                                                <font style="vertical-align: inherit;">2 comentario</font>
                                            </font>
                                        </a> <a href="javascript:void(0)" class="link m-r-10"><i class="fa fa-heart text-danger"></i><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"> 5 amor</font></font></a> </div>
                                </div>
                            </div>
                            <hr>
                            <div class="sl-item">
                                <div class="sl-left"> <img src="../assets/images/users/4.jpg" alt="usuario" class="img-circle"> </div>
                                <div class="sl-right">
                                    <div>
                                        <a href="#" class="link">
                                            <font style="vertical-align: inherit;">
                                                <font style="vertical-align: inherit;">John Doe hace </font>
                                            </font>
                                        </a> <span class="sl-date"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">5 minutos</font></font></span>
                                        <blockquote class="m-t-10">
                                            <font style="vertical-align: inherit;">
                                                <font style="vertical-align: inherit;">
                                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt
                                                </font>
                                            </font>
                                        </blockquote>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--second tab-->
                <div class="tab-pane" id="profile" role="tabpanel" aria-expanded="false">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-3 col-xs-6 b-r"> <strong><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Nombre completo</font></font></strong>
                                <br>
                                <p class="text-muted">
                                    <font style="vertical-align: inherit;">
                                        <font style="vertical-align: inherit;">Johnathan Deo</font>
                                    </font>
                                </p>
                            </div>
                            <div class="col-md-3 col-xs-6 b-r"> <strong><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Móvil</font></font></strong>
                                <br>
                                <p class="text-muted">
                                    <font style="vertical-align: inherit;">
                                        <font style="vertical-align: inherit;">(123) 456 7890</font>
                                    </font>
                                </p>
                            </div>
                            <div class="col-md-3 col-xs-6 b-r"> <strong><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Correo electrónico</font></font></strong>
                                <br>
                                <p class="text-muted">
                                    <font style="vertical-align: inherit;">
                                        <font style="vertical-align: inherit;">johnathan@admin.com</font>
                                    </font>
                                </p>
                            </div>
                            <div class="col-md-3 col-xs-6"> <strong><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Ubicación</font></font></strong>
                                <br>
                                <p class="text-muted">
                                    <font style="vertical-align: inherit;">
                                        <font style="vertical-align: inherit;">Londres</font>
                                    </font>
                                </p>
                            </div>
                        </div>
                        <hr>
                        <p class="m-t-30">
                            <font style="vertical-align: inherit;">
                                <font style="vertical-align: inherit;">Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. </font>
                                <font style="vertical-align: inherit;">In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. </font>
                                <font style="vertical-align: inherit;">Nullam dictum felis eu pede mollis pretium. </font>
                                <font style="vertical-align: inherit;">Entero tincidunt.Cras dapibus. </font>
                                <font style="vertical-align: inherit;">Vivamus elementum semper nisi. </font>
                                <font style="vertical-align: inherit;">Enean vulputate eleifend tellus. </font>
                                <font style="vertical-align: inherit;">Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim.</font>
                            </font>
                        </p>
                        <p>
                            <font style="vertical-align: inherit;">
                                <font style="vertical-align: inherit;">Lorem Ipsum es simplemente texto de relleno de la industria de la impresión y la composición tipográfica. </font>
                                <font style="vertical-align: inherit;">Lorem Ipsum ha sido el texto de relleno estándar de la industria desde el siglo XVI, cuando un impresor desconocido tomó una galera de tipos y la mezcló para hacer un libro de muestras tipográficas. </font>
                                <font style="vertical-align: inherit;">Ha sobrevivido no solo cinco siglos</font>
                            </font>
                        </p>
                        <p>
                            <font style="vertical-align: inherit;">
                                <font style="vertical-align: inherit;">Se popularizó en la década de 1960 con el lanzamiento de hojas de Letraset que contienen pasajes de Lorem Ipsum y, más recientemente, con software de autoedición como Aldus PageMaker que incluye versiones de Lorem Ipsum.</font>
                            </font>
                        </p>
                        <h4 class="font-medium m-t-30">
                            <font style="vertical-align: inherit;">
                                <font style="vertical-align: inherit;">Conjunto de habilidades</font>
                            </font>
                        </h4>
                        <hr>
                        <h5 class="m-t-30">
                            <font style="vertical-align: inherit;">
                                <font style="vertical-align: inherit;">Wordpress </font>
                            </font><span class="pull-right"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">80%</font></font></span></h5>
                        <div class="progress">
                            <div class="progress-bar bg-success" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width:80%; height:6px;"> <span class="sr-only"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">50% completo</font></font></span> </div>
                        </div>
                        <h5 class="m-t-30">
                            <font style="vertical-align: inherit;">
                                <font style="vertical-align: inherit;">HTML 5 </font>
                            </font><span class="pull-right"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">90%</font></font></span></h5>
                        <div class="progress">
                            <div class="progress-bar bg-info" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100" style="width:90%; height:6px;"> <span class="sr-only"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">50% completo</font></font></span> </div>
                        </div>
                        <h5 class="m-t-30">
                            <font style="vertical-align: inherit;">
                                <font style="vertical-align: inherit;">jQuery </font>
                            </font><span class="pull-right"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">50%</font></font></span></h5>
                        <div class="progress">
                            <div class="progress-bar bg-danger" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width:50%; height:6px;"> <span class="sr-only"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">50% completo</font></font></span> </div>
                        </div>
                        <h5 class="m-t-30">
                            <font style="vertical-align: inherit;">
                                <font style="vertical-align: inherit;">Photoshop </font>
                            </font><span class="pull-right"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">70%</font></font></span></h5>
                        <div class="progress">
                            <div class="progress-bar bg-warning" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width:70%; height:6px;"> <span class="sr-only"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">50% completo</font></font></span> </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane" id="settings" role="tabpanel" aria-expanded="false">
                    <div class="card-body">
                        <form class="form-horizontal form-material">
                            <div class="form-group">
                                <label class="col-md-12"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Nombre completo</font></font></label>
                                <div class="col-md-12">
                                    <input type="text" placeholder="Johnathan Doe" class="form-control form-control-line">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="example-email" class="col-md-12"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Correo electrónico</font></font></label>
                                <div class="col-md-12">
                                    <input type="email" placeholder="johnathan@admin.com" class="form-control form-control-line" name="example-email" id="example-email">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-12"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Contraseña</font></font></label>
                                <div class="col-md-12">
                                    <input type="password" value="password" class="form-control form-control-line">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-12"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Telefono no</font></font></label>
                                <div class="col-md-12">
                                    <input type="text" placeholder="123 456 7890" class="form-control form-control-line">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-12"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Mensaje</font></font></label>
                                <div class="col-md-12">
                                    <textarea rows="5" class="form-control form-control-line"></textarea>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-12"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Seleccionar país</font></font></label>
                                <div class="col-sm-12">
                                    <select class="form-control form-control-line">
                                    <option><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Londres</font></font></option>
                                    <option><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">India</font></font></option>
                                    <option><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Estados Unidos</font></font></option>
                                    <option><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Canadá</font></font></option>
                                    <option><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Tailandia</font></font></option>
                                </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-12">
                                    <button class="btn btn-success"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Actualización del perfil</font></font></button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>