<div class="row animate fadeIn fast">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <input type="text" class="form-control" name="filterConsulta" placeholder="Buscar Consulta por el apellido del Paciente..." [(ngModel)]="filterConsulta">

            </div>
        </div>
    </div>
</div>

<!-- <div class="text-right animate fadeIn fast">
    <button type="button" routerLink="/dashboard/registro-Usuario" class="btn btn-info align-content-end">
        <i class="fa fa-plus"></i> 
          Agregar nuevo Usuario
    </button>
</div> -->

<div class="row mt-2 animate fadeIn fast" *ngIf="cargando">
    <div class="col-12">
        <div class="alert alert-info text-center">
            <h4 class="alert-heading">Cargando...</h4>
            <i class="fa fa-spin fa-refresh fa-2x"></i>
            <p class="mb-0">Por favor espere</p>
        </div>
    </div>
</div>

<div class="row animate fadeIn fast" *ngIf="!cargando">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-8">
                        <h4 class="card-title">Consultas ({{totalConsultas}})</h4>
                        <h6 class="card-subtitle">Consultas registradas en la Aplicación</h6>
                    </div>
                    <div class="col">
                        <div class="text-right animate fadeIn fast">
                            <button type="button" routerLink="/dashboard/consultaRegistro" class="btn btn-info align-content-end">
                            <i class="fa fa-plus"></i> 
                            Agregar Consulta
                            </button>
                        </div>
                    </div>
                </div>
                <div class="table-responsive">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th>Datos Paciente</th>
                                <th>Datos Médico</th>
                                <th>Fecha de Atención</th>
                                <th class="text-nowrap">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let eva of evaluacionPacientes | filter:filterConsulta">
                                <td>
                                    <span class="label label-info">
                                    {{eva.paciente.apellidoP}} {{eva.paciente.apellidoP2}} {{eva.paciente.nombreP}} {{eva.paciente.nombreP2}}
                                    </span>
                                </td>
                                <td>
                                    <span class="label label-success">
                                    {{eva.usuario.email}}
                                </span>
                                </td>
                                <td>
                                    <span class="label label-danger">
                                    {{eva.fechaEvolucion | date: 'MMM d, y, h:mm:ss a'}}
                                </span>
                                </td>
                                <td class="text-nowrap w100 text-center">
                                    <!-- <a class="cursor" [routerLink]="['/dashboard/consultaDetalle', eva._id]" data-toggle="tooltip" data-original-title="Visualizar Consulta"> <i class="fa fa-file-pdf-o text-info m-r-10"></i> </a> -->
                                    <a class="cursor" [routerLink]="['/dashboard/consultaDetalle', eva._id]" data-toggle="tooltip" data-original-title="Visualizar Consulta"> <i class="fa fa-address-book-o text-info m-r-10"></i> </a>
                                    <a class="cursor" (click)="deleteConsulta(eva)" data-toggle="tooltip" data-original-title="Eliminar Consulta"> <i class="fa fa-close text-danger"></i> </a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <button (click)="cambiarPagina(-30)" class="btn btn-secondary">Anterior</button> &nbsp;
                <button (click)="cambiarPagina(30)" class="btn btn-secondary">Siguiente</button>
            </div>
        </div>
    </div>
</div>