<div class="row animate fadeIn fast">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <input type="text" class="form-control" placeholder="Buscar Producto..." #txtTermino (keyup)="buscar(txtTermino.value)">

            </div>
        </div>
    </div>
</div>

<!-- <div class="text-right animate fadeIn fast">
    <button type="button" routerLink="/dashboard/registro-Usuario" class="btn btn-info align-content-end">
        <i class="fa fa-plus"></i> 
          Agregar nuevo Usuario
    </button>
</div> -->

<div class="row mt-2 animate fadeIn fast" *ngIf="cargando">
    <div class="col-12">
        <div class="alert alert-info text-center">
            <h4 class="alert-heading">Cargando...</h4>
            <i class="fa fa-spin fa-refresh fa-2x"></i>
            <p class="mb-0">Por favor espere</p>
        </div>
    </div>
</div>

<div class="row animate fadeIn fast" *ngIf="!cargando">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-8">
                        <h4 class="card-title">Productos ({{totalProducto}})</h4>
                        <h6 class="card-subtitle">Productos registrados en la Aplicación</h6>
                    </div>
                    <div class="col">
                        <div class="text-right animate fadeIn fast">
                            <button type="button" routerLink="/dashboard/registro-producto/nuevo" class="btn btn-info align-content-end">
                            <i class="fa fa-plus"></i> 
                            Agregar nuevo Producto
                            </button>
                        </div>
                    </div>
                </div>
                <div class="table-responsive">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th class="w100">Imagen</th>
                                <th>Código</th>
                                <th>Nombre</th>
                                <th>Stock</th>
                                <th>Precio</th>
                                <th>Categoria</th>
                                <th class="text-nowrap">Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let producto of productos">
                                <td class="text-center">
                                    <img [src]="producto.img | imagen:'productos'" class="avatar cursor" alt="Imagen del Producto" (click)="abrirModalImagen(producto)">
                                </td>
                                <td>
                                    <span class="label label-light-info">{{producto.codigoProducto}}</span>
                                </td>
                                <td>{{producto.nombreProducto}}</td>
                                <td>{{producto.stockProducto}}</td>
                                <td>{{producto.precioProducto}}</td>
                                <td>
                                    <span class="label label-success">
                                        {{producto.categoria.nombreCategoria}}
                                    </span>
                                </td>
                                <td class="text-nowrap w100 text-center">
                                    <a [routerLink]="['/dashboard/registro-producto', producto._id]" data-toggle="tooltip" data-original-title="Editar Producto" class="cursor">
                                        <i class="fa fa-pencil text-inverse m-r-10"></i>
                                    </a>
                                    <a (click)="borrarProducto(producto)" data-toggle="tooltip" data-original-title="Eliminar Producto" class="cursor">
                                        <i class="fa fa-close text-danger"></i>
                                    </a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div *ngIf="txtTermino.value.length === 0">
                    <button (click)="cambiarPagina(-5)" class="btn btn-secondary">Anterior</button> &nbsp;
                    <button (click)="cambiarPagina(5)" class="btn btn-secondary">Siguiente</button>
                </div>
            </div>
        </div>
    </div>
</div>