<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-header bg-info">
                <h4 class="m-b-0 text-white">Datos del Paciente</h4>
            </div>
            <div class="card-body">
                <form action="#" [formGroup]="pacienteForm" (submit)="guardarPaciente()">
                    <div class="form-body">
                        <h3 class="card-title">Información Personal</h3>
                        <hr>
                        <div class="row p-t-20">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="exampleInputuname">Primer Nombre:</label>
                                    <div class="input-group">
                                        <div class="input-group-addon"><i class="mdi mdi-account"></i></div>
                                        <input type="text" class="form-control form-control-danger" id="primerNombre" placeholder="Ingrese el primer nombre" formControlName="nombreP">
                                    </div>
                                    <small class="form-control-feedback text-danger" *ngIf="campoNoValido('nombreP')"> El primer nombre es obligatorio. </small>
                                </div>
                            </div>
                            <!--/span-->
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label">Segundo Nombre:</label>
                                    <div class="input-group">
                                        <div class="input-group-addon"><i class="mdi mdi-account"></i></div>
                                        <input type="text" id="segundoNombre" class="form-control" placeholder="Ingrese el nombre" formControlName="nombreP2">
                                    </div>
                                    <small class="form-control-feedback text-danger" *ngIf="campoNoValido('nombreP2')"> El segundo nombre es obligatorio. </small>
                                </div>
                            </div>
                            <!--/span-->
                        </div>
                        <div class="row ">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label">Primer Apellido:</label>
                                    <div class="input-group">
                                        <div class="input-group-addon"><i class="mdi mdi-account"></i></div>
                                        <input type="text" id="primerApellido" class="form-control" placeholder="Ingrese el apellido" formControlName="apellidoP">
                                        <!-- <small class="form-control-feedback"> This is inline help </small> -->
                                    </div>
                                    <small class="form-control-feedback text-danger" *ngIf="campoNoValido('apellidoP')"> El primer apellido es obligatorio. </small>
                                </div>
                            </div>
                            <!--/span-->
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label">Segundo Apellido:</label>
                                    <div class="input-group">
                                        <div class="input-group-addon"><i class="mdi mdi-account"></i></div>
                                        <input type="text" id="segundoApellido" class="form-control" placeholder="Ingrese el apellido" formControlName="apellidoP2">
                                        <!-- <small class="form-control-feedback"> This field has error. </small>  -->
                                    </div>
                                    <small class="form-control-feedback text-danger" *ngIf="campoNoValido('apellidoP')"> El segundo apellido es obligatorio. </small>
                                </div>
                            </div>
                            <!--/span-->
                        </div>
                        <!--/row-->
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label">Cedúla:</label>
                                    <div class="input-group">
                                        <div class="input-group-addon"><i class="mdi mdi-currency-ngn"></i></div>
                                        <input type="number" id="cedula" class="form-control" placeholder="Ingrese el número de la cédula" formControlName="cedulaP">
                                        <!-- <small class="form-control-feedback"> This is inline help </small> -->
                                    </div>
                                    <small class="form-control-feedback text-danger" *ngIf="campoNoValido('cedulaP')"> El Número de Cédula es obligatorio. </small>
                                </div>
                            </div>
                            <!--/span-->
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label">Género:</label>
                                    <div class="input-group">
                                        <div class="input-group-addon"><i class="mdi mdi-gender-male-female"></i></div>
                                        <select class="form-control custom-select" data-placeholder="Choose a Category" tabindex="1" formControlName="sexoP">
                                            <option value="">- Seleccione un Género -</option>
                                            <option value="Masculino">Masculino</option>
                                            <option value="Femenino">Femenino</option>
                                            <option value="Otro">Otro</option>
                                    </select>
                                    </div>
                                    <!-- <small class="form-control-feedback text-danger" *ngIf="campoNoValido('sexoP')"> El Género es obligatorio. </small> -->
                                </div>
                            </div>
                            <!--/span-->
                        </div>
                        <!--/row-->
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label">Fecha de Nacimiento:</label>
                                    <input [(ngModel)]="fechaI" type="date" class="form-control" formControlName="fechaNacimientoP"> {{fechaI | date: 'dd/MM/yyyy' }}
                                </div>
                            </div>




                            <!--/span-->
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label">Estado Civil:</label>
                                    <div class="input-group">
                                        <div class="input-group-addon"><i class="mdi mdi-church"></i></div>
                                        <select class="form-control custom-select" data-placeholder="Choose a Category" tabindex="1" formControlName="estadoCivilP">
                                            <option value="">- Seleccione un Estado Civil -</option>
                                            <option value="Soltero/a">Soltero/a</option>
                                            <option value="Casado/a">Casado/a</option>
                                            <option value="Viudo/a">Viudo/a</option>
                                            <option value="Unión-Libre">Unión-Libre</option>
                                            <option value="Separado/a">Separado/a</option>
                                            <option value="Comprometido/a">Comprometido/a</option>
                                    </select>
                                    </div>
                                    <!-- <small class="form-control-feedback text-danger" *ngIf="campoNoValido('sexoP')"> El Género es obligatorio. </small> -->
                                </div>
                            </div>
                            <!--/span-->
                        </div>
                        <div class="row">
                            <!--/span-->
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label">Tipo de Sangre:</label>
                                    <div class="input-group">
                                        <div class="input-group-addon"><i class="mdi mdi-ambulance"></i></div>
                                        <select class="form-control custom-select" data-placeholder="Choose a Category" tabindex="1" formControlName="tipoDeSangreP">
                                            <option value=""> - Seleccione un Tipo de Sangre - </option>
                                            <option value="A+">A+</option>
                                            <option value="A-">A-</option>
                                            <option value="B+">B+</option>
                                            <option value="B-">B-</option>
                                            <option value="O+">O+</option>
                                            <option value="O-">O-</option>
                                            <option value="AB+">AB+</option>
                                            <option value="AB-">AB-</option>
                                    </select>
                                    </div>
                                    <!-- <small class="form-control-feedback text-danger" *ngIf="campoNoValido('sexoP')"> El Género es obligatorio. </small> -->
                                </div>
                            </div>
                            <!--/span-->
                            <!--/span-->
                            <!-- <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label">N° Discapacidad:</label>
                                    <select class="form-control custom-select" data-placeholder="Choose a Category" tabindex="1" formControlName="numeroDiscapcidadP">
                                        <option value=""> - Seleccione un NUmero de Discapacidad - </option>
                                        <option value="0">0</option>
                                        <option value="5">5</option>
                                        <option value="10">10</option>
                                        
                                </select>
                                </div>
                            </div> -->
                            <!--/span-->
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label">Edad:</label>
                                    <div class="input-group">
                                        <div class="input-group-addon"><i class="mdi mdi-av-timer"></i></div>
                                        <input type="number" id="edad" class="form-control" placeholder="Ingrese la edad" formControlName="edadP">
                                        <!-- <small class="form-control-feedback"> This is inline help </small> -->
                                    </div>
                                    <!-- <small class="form-control-feedback text-danger" *ngIf="campoNoValido('sexoP')"> El Género es obligatorio. </small> -->
                                </div>
                            </div>
                        </div>
                        <!--/row-->
                        <h3 class="box-title m-t-20">Direcciones</h3>
                        <hr>
                        <div class="row">
                            <div class="col-md-6 ">
                                <div class="form-group">
                                    <label>Dirección N°1</label>
                                    <div class="input-group">
                                        <div class="input-group-addon"><i class="mdi mdi-home-variant"></i></div>
                                        <input type="text" class="form-control" placeholder="Ingrese una Dirección" formControlName="direccionesP">
                                    </div>
                                    <!-- <small class="form-control-feedback text-danger" *ngIf="campoNoValido('cedulaP')"> El Número de Cédula es obligatorio. </small> -->
                                </div>
                            </div>

                            <div class="col-md-6 ">
                                <div class="form-group">
                                    <label>Dirección N°2:</label>
                                    <div class="input-group">
                                        <div class="input-group-addon"><i class="mdi mdi-home-variant"></i></div>
                                        <input type="text" class="form-control" placeholder="Ingrese una Dirección" formControlName="direccionesP1">
                                    </div>
                                    <!-- <small class="form-control-feedback text-danger" *ngIf="campoNoValido('cedulaP')"> El Número de Cédula es obligatorio. </small> -->
                                </div>
                            </div>
                        </div>
                        <h3 class="box-title m-t-20">Números Teléfonicos</h3>
                        <hr>
                        <div class="row">
                            <div class="col-md-6 ">
                                <div class="form-group">
                                    <label>Número Celular N°1:</label>
                                    <div class="input-group">
                                        <div class="input-group-addon"><i class="mdi mdi-whatsapp"></i></div>
                                        <input type="text" class="form-control" placeholder="Ingrese un Número" formControlName="celularesP">
                                    </div>
                                    <!-- <small class="form-control-feedback text-danger" *ngIf="campoNoValido('cedulaP')"> El Número de Cédula es obligatorio. </small> -->
                                </div>
                            </div>

                            <div class="col-md-6 ">
                                <div class="form-group">
                                    <label>Números Convencional N°2:</label>
                                    <div class="input-group">
                                        <div class="input-group-addon"><i class="mdi mdi-phone-in-talk"></i></div>
                                        <input type="text" class="form-control" placeholder="Ingrese un Número" formControlName="celularesP1">
                                    </div>
                                    <!-- <small class="form-control-feedback text-danger" *ngIf="campoNoValido('cedulaP')"> El Número de Cédula es obligatorio. </small> -->
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr>
                    <br>
                    <div class="col-md-offset-3 col-md-12 text-right">
                        <button type="submit" class="btn btn-success waves-effect waves-light m-r-10">
                        <i class="fa fa-floppy-o">
                        </i> Guardar</button>
                        <!-- <button type="submit" class="btn btn-danger m-r-10"> <i class="fa fa-ban"></i> Edit</button> -->
                        <button routerLink="/dashboard/paciente" class="btn btn-danger waves-effect waves-light m-r-10">
                            <i class="fa fa-ban">
                            </i> Cancelar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>