<div class="row">
    <div class="col-lg-3">
        <div class="card bg-info">
            <div class="card-body">
                <div class="d-flex no-block">
                    <div class="m-r-20 align-self-center"><img src="../assets/images/icon/usuario.png" alt="Income"></div>
                    <div class="align-self-center">
                        <h6 class="text-white m-t-10 m-b-0">Total de Usuarios</h6>
                        <h2 class="m-t-0 text-white">{{usuarios.length}}</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3">
        <div class="card bg-success">
            <div class="card-body">
                <div class="d-flex no-block">
                    <div class="m-r-20 align-self-center"><img src="../assets/images/icon/paciente.png" alt="Income"></div>
                    <div class="align-self-center">
                        <h6 class="text-white m-t-10 m-b-0">Total de Pacientes</h6>
                        <h2 class="m-t-0 text-white">{{pacientes.length}}</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3">
        <div class="card bg-primary">
            <div class="card-body">
                <div class="d-flex no-block">
                    <div class="m-r-20 align-self-center"><img src="../assets/images/icon/categoria.png" alt="Income"></div>
                    <div class="align-self-center">
                        <h6 class="text-white m-t-10 m-b-0">Total Categorias</h6>
                        <h2 class="m-t-0 text-white">{{categorias.length}}</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3">
        <div class="card bg-danger">
            <div class="card-body">
                <div class="d-flex no-block">
                    <div class="m-r-20 align-self-center"><img src="../assets/images/icon/caja.png" alt="Income"></div>
                    <div class="align-self-center">
                        <h6 class="text-white m-t-10 m-b-0">Total Productos</h6>
                        <h2 class="m-t-0 text-white">{{productos.length}}</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- segunda fila  -->
<div class="row">
    <div class="col-lg-3">
        <div class="card bg-warning">
            <div class="card-body">
                <div class="d-flex no-block">
                    <div class="m-r-20 align-self-center"><img src="../assets/images/icon/medico.png" alt="Income"></div>
                    <div class="align-self-center">
                        <h6 class="text-white m-t-10 m-b-0">Total de Consultas</h6>
                        <h2 class="m-t-0 text-white">{{evaluacionPacientes.length}}</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- <div class="col-lg-3">
        <div class="card bg-dark">
            <div class="card-body">
                <div class="d-flex no-block">
                    <div class="m-r-20 align-self-center"><img src="../assets/images/icon/paciente.png" alt="Income"></div>
                    <div class="align-self-center">
                        <h6 class="text-white m-t-10 m-b-0">Total de Pacientes</h6>
                        <h2 class="m-t-0 text-white">236,000</h2>
                    </div>
                </div>
            </div>
        </div>
    </div> -->
    <div class="col-lg-3">
        <div class="card bg-secondary">
            <div class="card-body">
                <div class="d-flex no-block">
                    <div class="m-r-20 align-self-center"><img src="../assets/images/icon/doctor.png" alt="Income"></div>
                    <div class="align-self-center">
                        <h6 class="text-white m-t-10 m-b-0">Total de Especialidades</h6>
                        <h2 class="m-t-0 text-white">{{especialidades.length}}</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3">
        <div class="card bg-info">
            <div class="card-body">
                <div class="d-flex no-block">
                    <div class="m-r-20 align-self-center"><img src="../assets/images/icon/ventas.png" alt="Income"></div>
                    <div class="align-self-center">
                        <h6 class="text-white m-t-10 m-b-0">Total de Ventas</h6>
                        <h2 class="m-t-0 text-white">{{ventas.length}}</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>